nav {
    display: flex;
    justify-content: space-between;
    margin: 0 20px;
}

/* navbar side */
.nav-left {
    display: flex;
    gap: 20px;
    align-items: center;

}

.menu {
    padding: 15px;
}

.menu:hover {
    background-color: rgb(193, 189, 189);
    padding: 15px;
    border-radius: 50px;
}

/* middle section */
.search {
    display: flex;
    align-items: center;
    gap: 20px;
    border: 1px solid gray;

    border-radius: 45px;

}

.search>input {
    background-color: transparent;
    border: 0 solid;
    outline: none;
    padding-left: 15px;
    height: 10px;
    width: 250px;
    font-size: 18px;
}

.search-icon {
    background-color: gainsboro;
    padding: 10px 20px;
    border-left: 1px solid gray;
    border-top-right-radius: 35px;
    border-bottom-right-radius: 35px;
    font-size: 15px;
}

.middle {
    display: flex;
    align-items: center;
    gap: 15px;

}

.mic {
    font-size: 18px;
    background-color: gainsboro;
    padding: 10px 12px;
    border-radius: 35px;

}
.mic:hover{
    background-color: rgb(193, 189, 189);
    cursor: pointer;

}
.search-icon:hover{
    background-color: rgb(193, 189, 189);
    cursor: pointer;
 
}
/* right side */
.right{
    display: flex;
    align-items: center;
    gap: 10px;
}
p{
    padding: 0;
    margin: 0;
}
i{
    padding: 0;
}
.creat{
    display: flex;
    align-items: center;
    gap: 10px;
    font-family: 5px;
    color: gray;
    background-color: gainsboro;
    padding: 8px 20px;
    border-radius: 35px;
}
.creat:hover{
    background-color: rgb(193, 189, 189);
    cursor: pointer;
 
}
.profile{
   
    width: 75px;
  
    background-color: bisque;
   border: 0 solid gray;
   border-radius: 65px;
   cursor: pointer;
}


/* main section */
main{
    display: flex;

}
.main-left{
   
    width:240px;
    height: 100vh;
}
.main-right{
    
    width: 1665px;
    height: 100vh;
    
}
.main-left>button{
    padding: 12px;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 12px;
    font-size: 14px;
   border-style: none;
   background-color: transparent;
   border-radius: 10px;
   width: 90%;
   margin: 0 auto;
}
.main-left>button:hover{
    background-color: rgb(196, 191, 191);
}

/* main-right section */
 .right1{
    display: flex;
    justify-content: space-between;
    align-items: center;
   list-style: none;
   font-size: 10px;
   gap: 2px;
}
  
li{
    font-size:20px;
background-color: #0000000d;
padding: 0px 12px;
font-weight: 900;
border-radius: 5px;
}
li:hover{
    cursor: pointer;
    box-shadow: 2px 2px 5px gray;
}
.all{
    color: white;
    background-color: black;

}
/* img section */
.img1{
    display: flex;
   gap: 10px;
    width: 10px;
    margin: 30px 30px 30px;
    border-radius: 20px;

}




    